{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">{{ domain_details.domain_name }} (domain)</li>
{% endblock %} {% block content %}
<div>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Total Lines Executed</h5>
          <p class="card-text">{{ all_status['total_lines_executed'] }}</p>
          <a href="#" class="btn btn-primary btn-sm">See More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Total Log Files on DB</h5>
          <p class="card-text">{{ all_status['total_log_files'] }}</p>
          <a href="#" class="btn btn-primary btn-sm">See More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Total Malicious Activity</h5>
          <p class="card-text">{{ all_status['malicious_activity'] }}</p>
          <a href="#" class="btn btn-primary btn-sm">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">Domains : {{ domain_details.domain_name }}</h5>
      <form method="POST" action="{{ url_for('logUpload') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <!-- <input type="hidden" name="domain_id" value="{{ domain_details.id }}" /> -->
        <div class="form-group">{{ form.log.label(class='form-control-label') }} {{ form.log(class='form-control') }}</div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-upload"></i> Upload Log File</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title"><i class="fa fa-save"></i> Uploaded Logs</h5>
    <table id="domains-table" class="table table-striped table-bordered nowrap">
      <thead>
        <tr>
          <th>File Name</th>
          <th>Uploaded at</th>
          <th>Total Lines</th>
          <th>Analyze Status</th>
          <th>Action</th>
          <th>Delete</th>
        </tr>
      </thead>
    </table>
    <div class="overlay" style="display: none">
      <div class="custom-loader"></div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function () {
    let domain_id = "{{ domain_details.id }}";
    $("#domains-table").DataTable({
      responsive: true,
      ajax: "/api/domain_storage/" + domain_id,
      columns: [
        { data: "file_location" },
        { data: "created_at" },
        { data: "total_lines" },
        {
          data: null,
          render: function (data, type, row) {
            if (data.log_analyzed) return '<button data-id="' + row.id + '" data-action="" class="btn btn-success form-control btn-sm analyze-btn" disabled><i class="fa fa-check"></i>Analyzed</button>';
            return '<button data-id="' + row.id + '" data-action="analyze" class="btn btn-warning btn-sm form-control analyze-btn"><i class="fa fa-search"></i> Analyze</button>';
          },
        },
        {
          data: null,
          render: function (data, type, row) {
            return '<button data-id="' + row.id + '" data-action="see_log_details" class="btn btn-info btn-sm form-control see-btn"><i class="fa fa-eye"></i> See Logs</button>';
          },
        },
        {
          data: null,
          render: function (data, type, row) {
            return '<button data-id="' + row.id + '" data-action="delete_log" class="btn btn-danger btn-sm form-control delete-btn"><i class="fa fa-trash"></i></button>';
          },
        },
      ],
    });
    $("#domains-table").on("click", "button", function () {
      let action = $(this).data("action");
      let id = $(this).data("id");
      if (action == "analyze") {
        $(".overlay").show();
        $.ajax({
          url: "/api/parse_log_file/" + id,
          type: "GET",
          success: function (data) {
            if (data.status == "success") {
              $(".overlay").hide();
              alert("Log Analyzed Successfully with Execution time : " + data.execution_time + " seconds");
              $("#domains-table").DataTable().ajax.reload();
            } else {
              alert("Something went wrong");
            }
          },
        });
      } else if (action == "delete_log") {
        $(".overlay").show();
        $.ajax({
          url: "/api/delete_log/" + id,
          type: "DELETE",
          success: function (data) {
            if (data.status == "success") {
              $(".overlay").hide();
              alert("Log Deleted Successfully");
              $("#domains-table").DataTable().ajax.reload();
            } else {
              alert("Something went wrong");
            }
          },
        });
      } else if (action == "see_log_details") {
        window.location.href = "/log_details/" + id;
      }
    });
  });
</script>
{% endblock %}
