{% extends 'base.html' %} {% block title %}Home{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/domains/{{ domain_details.id }}">{{ domain_details.domain_name }} (domain)</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ log_info.file_location }} (log file)</li>
{% endblock %}
{% block content %}
<div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Total Lines Executed</h5>
          <p class="card-text">{{ all_status['total_lines_executed'] }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Total Malicious Activity</h5>
          <p class="card-text">{{ all_status['malicious_activity'] }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card h-100">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <h5 class="card-title">Domain : {{ domain_details.domain_name }}</h5>
            </div>
            <div class="col-md-8">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      <div class="col-md-4">
          <p class="card-title">Log File : <span class="badge badge-success">{{ log_info.file_location }}</span><br>Log Uploaded : <span class="badge badge-info">{{ log_info.created_at }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <h5 class="card-title"><i class="fa fa-list"></i> Log Details</h5>
    <hr />
    <!-- Search form -->
    <form method="GET" action="{{ request.path }}">
      <div class="row mb-3">
        <div class="col-md-10">
          <input type="text" name="search" class="form-control" placeholder="Search by path" value="{{ search_keyword }}" required="" />
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-primary form-control"><i class="fa fa-search"></i> Search</button>
        </div>
      </div>
    </form>
    <hr />
    <div class="table-responsive">
      <table class="table table-striped table-bordered nowrap">
        <thead>
          <tr>
            <th>IP Address</th>
            <th>Date</th>
            <th>Method</th>
            <th>Path</th>
            <th>Status Code</th>
            <th>Log Type</th>
            <th>User Agent</th>
            <th>Uagent Bot</th>
          </tr>
        </thead>
        <tbody>
          {% for log in log_details.items %}
          <tr>
            <td>{{ log.ip_address }}</td>
            <td>{{ log.date }}</td>
            <td>{{ log.method }}</td>
            <td>{{ log.url }}</td>
            <td>{{ log.status_code }}</td>
            <td>{{ log.log_type }}</td>
            <td>{{ log.user_agent }}</td>
            <td>{{ log.uagent_bot }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Pagination links -->
    <nav aria-label="Pagination">
      <ul class="pagination">
        {% if log_details.has_prev %}
        <li class="page-item">
          <a class="page-link" href="?page={{ log_details.prev_num }}&search={{ search_keyword }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        {% endif %} {% for page in log_details.iter_pages() %} {% if page %} {% if log_details.page == page %}
        <li class="page-item active">
          <span class="page-link">{{ page }}</span>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page }}&search={{ search_keyword }}">{{ page }}</a>
        </li>
        {% endif %} {% else %}
        <li class="page-item disabled">
          <span class="page-link">...</span>
        </li>
        {% endif %} {% endfor %} {% if log_details.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ log_details.next_num }}&search={{ search_keyword }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next</span>
        </li>
        {% endif %}
      </ul>
    </nav>
    <div class="overlay" style="display: none">
      <div class="custom-loader"></div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
{% set url_labels = [] %}
{% set count_data = [] %}
  {% for page in url_count %}
      {% set _ = url_labels.append(page[0]) %}
      {% set _ = count_data.append(page[1]) %}
  {% endfor %}
<script>
  const ctx = document.getElementById('myChart');
  const label = '{{url_labels|tojson|safe}}';
  const data = '{{count_data|tojson|safe}}';
  let delayed;
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: JSON.parse(label),
      datasets: [{
        label: '# Most visited pages',
        data: JSON.parse(data),
        borderWidth: 1
      }]
    },
    options: {
      animation: {
        onComplete: () => {
          delayed = true;
        },
        delay: (context) => {
          let delay = 0;
          if (context.type === 'data' && context.mode === 'default' && !delayed) {
            delay = context.dataIndex * 300 + context.datasetIndex * 100;
          }
          return delay;
        },
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}
