{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content %}
<h1>Login</h1>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="form-group">{{ form.username.label(class='form-control-label') }} {{ form.username(class='form-control') }}</div>
  <div class="form-group">{{ form.password.label(class='form-control-label') }} {{ form.password(class='form-control') }}</div>
  <div class="form-group form-check">{{ form.remember_me(class='form-check-input') }} {{ form.remember_me.label(class='form-check-label') }}</div>
  <div class="form-group">{{ form.submit(class='btn btn-primary') }}</div>
</form>
{% endblock %}
